
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/shopping-cart.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/home.css');

*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: #1d037d;
}

.app-container {
  
position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

}
.bubbles{
  position: relative;
  display: flex;
}
.bubbles span{
position: relative;
width: 30px;
height: 30px;
background: lightskyblue;
margin: 0 4px;
border-radius: 50%;
box-shadow: 0 0 0 10px  blue,
0 0 50px red,
0 0 100px purple;
animation: animate 15s linear infinite;
animation-duration: calc(45s / var(--i));
} 
.bubbles span:nth-child(even){
  background-color: magenta;
  box-shadow: 0 0 0 10px blue,
  0 0 50px magenta,
  0 0 100px magenta,

}

@keyframes animate
{
  0% 
  {
    transform: translateY(100vh) scale(0);
  }
    100%
      {
        transform: translateY(-10vh) scale(1);
  }
}

.frontPageTitle{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
 background-image: linear-gradient(
   -225deg,
   #231557 0%,
   #44107a 29%,
   #ff1361 67%,
   #fff800 100%
 );
 
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 background-size: auto auto;
 background-clip: border-box;
 background-size: 200% auto;
 color: #fff;
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: textclip 2s linear infinite;
 display: flex;
     font-size: 130px;
     padding-bottom: 10px;
}

@keyframes textclip {
 to {
   background-position: 200% center;
 } 
}
@keyframes lights {
  0% {
    color: hsl(231, 94%, 49%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 79%, 26%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

.app-container nav{
  margin-top: 0;
  background: rgb(113, 183, 238);
  width: 125vh;
  margin-right: 0;
  border-radius: 15px;
  justify-content: center;
  display:flex;
  align-items: center;
  text-align: center;
  


  
}
.buttons{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  height:210px;
  border: solid aqua;
  border-radius: 15px;

}
.gg-shopping-cart{
  height: 35px;
  width: 35px;
  background-color: #5350f7;
  color: aqua;
  border: #5350f7;
  border-radius: 5px;
  border-style: groove;
  border-width: 5px;
  
}
.registerBtn{
  margin-bottom: 10px;
  background-color: #5350f7;
  color: aqua;
  border: #5350f7;
  border-radius: 5px;
  border-style: groove;
  border-width: 5px;

}
.loginBtn{
  margin-bottom: 10px;
  background-color: #5350f7;
  color: aqua;
  border: #5350f7;
  border-radius: 5px;
  border-style: groove;
  border-width: 5px;
}
.gg-home{

  margin-bottom:10px;

}

.sportydiscription{
  color: white;
  font-size: 50px;
  animation: lights 5s 750ms linear infinite;
  justify-content: center;
}
.price{
  color:rgb(73, 71, 71);
  background-color: burlywood;
  background-size: 200px;
  text-align: center;
  border-radius: 25px;
}
.productName{
  background-color: burlywood;
  text-align: center;
  border-radius: 25px;
  animation: lights 5s 750ms linear infinite;
  margin-bottom: 10px;
  text-decoration: underline;
}
.productsTitle{
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  text-align: center;
  border-radius: 25px;
  border-color: rgb(27, 104, 236);
  border-style: groove;
  animation: lights 5s 750ms linear infinite;
  margin-top: 30px;
  font-size: 35px;
  width:1050px;
 
}
.productDiscription{
  margin: auto;
  padding:10px;
  color:rgb(3, 20, 249);
  margin-bottom: 10px;
  background-color: burlywood;
  border-radius: 25px;
  text-align: center;


}
.images{
  margin-top: auto;
  border: solid rgb(20, 50, 223);
  border-width: 15px;
  border-radius: 25px;
  border-style: groove;
  height: 225px;
  width: 300px;
  margin-left:auto;
  margin-right:auto;
  opacity: 100%;
  align-items: center;
  justify-content: center;
 
  
}
.productContainer{
  background: #5350f7;
  border-radius: 25px;
  border-style: groove;
  border-color:rgb(20, 50, 223);
  margin: 30px;
  width: 1200px;
  border-width: 25px;
  overflow-x: auto;
  display:grid;
  grid-template-columns: auto auto auto ;
  row-gap: 25px;
  padding: 20px;
  
  
}
.invProducts{
 display: grid;
 border: solid blue;
  border-radius: 10px;
  border-width: 10px;
  border-style: groove;
  background-color: burlywood;
  overflow-x: 0;
  margin-bottom: 25px;
 margin: 20px;
 justify-content: center;
 align-items: center;
 cursor: pointer;

}

.addToCart{
  margin-bottom: 5px;
  animation: lights 5s 750ms linear infinite;
  background-color: #5350f7;
  cursor:pointer;
}

.productsPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.loginTitle{
  margin: auto;
  padding:10px;
  animation: lights 5s 750ms linear infinite;
  margin-bottom: 10px;
  background-color: burlywood;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 25px;
}
.UserName{
  display: block;
  margin: auto;
  padding:10px;
  animation: lights 5s 750ms linear infinite;
  margin-bottom: 10px;
  background-color: burlywood;
  border-radius: 25px;
  text-align: center;
}
.PassWord{
  display: block;
  margin: auto;
  padding:10px;
  animation: lights 5s 750ms linear infinite;
  margin-bottom: 10px;
  background-color: burlywood;
  border-radius: 25px;
  text-align: center;
}
.inputPassWord{
  display: block;
  margin: auto;
  padding:10px;
  animation: lights 5s 750ms linear infinite;
  margin-bottom: 10px;
  background-color: burlywood;
  border-radius: 25px;
  text-align: center;
  width:500px;
}
.inputUserName{
  display: block;
  margin: auto;
  padding:10px;
  animation: lights 5s 750ms linear infinite;
  margin-bottom: 10px;
  background-color: burlywood;
  border-radius: 25px;
  text-align: center;
  width:500px;
}
.loginButton{
  margin: auto;
  padding:10px;
  animation: lights 5s 750ms linear infinite;
  margin-bottom: 10px;
  background-color: burlywood;
  border-radius: 25px;
  text-align: center;
  border: solid rgb(123, 123, 228);
  border-width: 5px;
  border-style: groove;
}
.registerTitle{
  margin: auto;
  padding:10px;
  animation: lights 5s 750ms linear infinite;
  margin-bottom: 10px;
  background-color: burlywood;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.Cart {
  display: flex;
  flex-direction: row;
  font-size: medium;
  justify-content: space-between;
  background-color: burlywood;
  width: 750px;
}

.Cart > img {
  height: 100px;
  width: 100px;
}

.cart-container {
  background-color: burlywood;
  align-items: center;
}

.checkout {
  background-color: green;
}